<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/acercade.css" type="text/css">
    <title>Acerca De</title>
</head>
<body>
    <h1>Acerca de:</h1>
    <p>
        Super Calculadora<br>
        Fernando Rubén Ocaña Ixcot<br>
        Manejo e Implementación de Archivos<br>
        Segundo Semestre 2021
    </p>
</body>
</html>