<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="css/estilos.css" rel="stylesheet" type="text/css">

        <title>Super Calculadora</title>

    </head>

    <body>

        <h1>SUPER CALCULADORA</h1>

       
        <input id="entrada_1" name="entrada_1" placeholder="ingrese el numero 1" type="text"/>
        <input id="entrada_2" name="entrada_2" placeholder="ingrese el numero 2" type="text"/>
        <input id="resultado" name="resultado" placeholder="resultado" type="text"/>

        <button onclick="resolver('suma')">suma</button>
        <button onclick="resolver('resta')">resta</button>
        <button onclick="resolver('multiplicacion')">multiplicacion</button>
        <button onclick="resolver('division')">division</button>
            
        <script type="text/javascript" src="js/funcionalidad.js"></script>

    </body>

</html>