<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="UTF-8">

        <link href="css/estilos.css" rel="stylesheet" type="text/css">

        <title>Super Calculadora</title>

    </head>

    <body>

        <h1>SUPER CALCULADORA</h1>

        <table>

            <tr>

                <td colspan="4"><input id="entrada" type="text"/></td>

            </tr>

            <tr>

                <td><button onclick="obtener(7)">7</button></td>

                <td><button onclick="obtener(8)">8</button></td>

                <td><button onclick="obtener(9)">9</button></td>

                <td><button onclick="restar()">-</button></td>

            </tr>

            <tr>

                <td><button onclick="obtener(4)">4</button></td>

                <td><button onclick="obtener(5)">5</button></td>

                <td><button onclick="obtener(6)">6</button></td>

                <td><button onclick="sumar('+')">+</button></td>

            </tr>

            <tr>

                <td><button onclick="obtener(1)">1</button></td>

                <td><button onclick="obtener(2)">2</button></td>

                <td><button onclick="obtener(3)">3</button></td>

                <td><button onclick="multiplicar('*')">*</button></td>

            </tr>

            <tr>

                <td><button onclick="obtener(0)">0</button></td>

                <td><button onclick="calcular()">=</button></td>

                <td><button onclick="dividir('/')">/</button></td>

                <td><button onclick="potenciar('^')">^</button></td>

            </tr>

        </table>

        <script type="text/javascript" src="js/funcionalidad.js"></script>

    </body>

</html>